svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.center-iframe {
    display: block;
    margin: auto;
  }
/* Add this to your style.css file */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

iframe {
    width: 100vw;   /* 100% of the viewport width */
    height: 100vh;  /* 100% of the viewport height */
    border: none;   /* Remove border */
}
/* General body styling */
body {
    font-family: Arial, sans-serif; /* Sets the font across the page */
    margin: 0;
    padding: 0;
    background: #f4f4f4; /* Light grey background for the page */
}

/* Styling for main headings */
h1 {
    font-size: 24px; /* Larger font size for main headings */
    color: #333; /* Dark grey color for text */
    text-align: center; /* Centers the heading */
    padding: 20px 0; /* Adds space above and below the heading */
    background-color: #ffffff; /* White background for contrast */
    margin-bottom: 10px; /* Adds space below the heading */
    border-bottom: 2px solid #e1e1e1; /* Adds a light grey border under the heading */
}

/* Styling for sub-headings */
h2 {
    font-size: 20px;
    color: #444;
    padding: 15px 0;
    background-color: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Styling for paragraphs */
p {
    font-size: 16px; /* Comfortable reading size for text */
    color: #666; /* Medium grey for paragraph text */
    line-height: 1.5; /* Adds space between lines for readability */
    margin: 0 15px 10px; /* Margins for spacing around the text */
    padding-bottom: 10px; /* Padding at the bottom */
}


/* If there's any additional styling for the svg, ensure it does not conflict with iframe sizing */
svg {
    display: block; /* Add display block to ensure it doesn't affect the iframe */
    max-width: 100%; /* Example to make svg responsive and not overflow */
    height: auto; /* Adjust height automatically */
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.dot {
    fill: red;
    stroke: #000;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
